*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* optional css */
.mrtop{
    margin-top: 100px;
}
.same-title{
    font-size: 50px;
    font-weight: 700;
    color: #000;
    text-align: center;
}
main{
    max-width: 1124px;
    margin: 0 auto;
}
.same-btn{
    background: #FF5959;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 20px;
}
/* header section */
.header-section{
    padding: 30px 50px;
    background-image: url('../images/donation9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.header-icon{}
.header-icon a{
    text-decoration: none;
}
.header-icon a img{
    width: 50px;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
}
.header-nav{}
.header-nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-nav ul li{
    position: relative;
}
.header-nav ul li a {
    text-decoration: none;
    padding: 0px 17px;
    font-size: 20px;
    color: #fff;
}
/* dropdown navbar */
.header-nav ul li ul{
    display: block;
    display: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1s;
}
.header-nav ul li:hover ul{
    display: block;

}
.header-nav ul li ul li{
    padding: 5px 0px;
}
.banner{
    margin-top: 200px;
    margin-bottom: 100px;
}
.banner-content{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.banner-content h1 {
    font-size: 56px;
}
.banner-content p {
    color: #fff;
    font-size: 20px;
}

/* Donate today section */
.donate-today-section{
    text-align: center;
}
.donate-today-section h2{
    margin-bottom: 20px;
}
.donate-today-section p,
.plan-para {
    font-size: 20px;
    width: 662px;
    margin: 0 auto;
    color: gray;
    margin-bottom: 20px;
}
.donate-today-section h6 {
    font-size: 15px;
    color: grey;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.donate-blog{
    background: #FAFAFA;
    padding: 30px;
    border-radius: 5px;
    color: grey;
}
.donate-blog:hover{
    cursor: pointer;
    background-color: #FF5959;
    color: #fff;
    transition: 0.5s;
}
.donate-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 60px;
}
.donate-blog h2{
    font-size: 35px;
    font-weight: 700;
}

/* donation plan section */
.donate-plan-section{
    
}
.donate-plan-section h2{
    margin-bottom: 40px;
}

.plan-items{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 30px;
}
.first-color{
    background: rgba(79, 157, 166, 0.1);
}
.second-color{
    background: rgba(255, 89, 89, 0.1);
}
.third-color{
    background: #e28d8d;
}
.plan-blog{
    padding: 80px 30px;
    border-radius: 5px;
}
.plan-blog .fa-solid {
    font-size: 35px;
    display: inline-block;
    margin-bottom: 20px;
    color: blue;
}
.plan-blog h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.plan-blog p {
    font-size: 14px;
    color: #707070;
}

/* depend section */
.depend-section{}
.depend-items{
    display: flex;
}
.depent-txt{
    width: 500px;
}
.depent-txt h2 {
    font-size: 40px;
}
.depent-txt p {
    font-size: 20px;
    color: grey;
    margin-top: 20px;
}
.depend-img {
    margin-left: 20px;
}
.depend-img img {
    width: 470px;
    height: 500px;
    border-radius: 8px;
}
